*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* ENCABEZADO */
header{
    padding: 60px;
    background-color: #FF8243;
}

/* ! NAV */
.nav{
    width: 100%;
    display: flex;
    /* text-align: left;
    justify-content: center; */
    font-size: 20px;
}

.nav > .logo{
    width: 20%;
}

.nav > .logo img{
    /* margin-top: 20px; */
    width: 80px;
}

.space{
    width: 50%;
}

.menu{
    width: 80%;
    padding-bottom: 30px;
    display: flex; /*CONVIERTE EL ELEMENTO ACTUAL EN FLEXIBLE*/
    flex-wrap: wrap; /*ACOMODA LOS ELEMENTOS CON TAL DE QUE NINGUNO SE SALAGA DENTRO DE SU CONTENEDOR*/
    justify-content: space-between; /*CREA UN ESPACIO DE SEPARACION ENTRE CADA ELEMENTO*/
    /* max-width: 460px; */
    /* justify-content: right; */
    margin: auto 0;
}
.menu a{
    color: white;
    text-decoration: none;
}

/* ! NAV CONTENIDO */
header > .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}


header > .contenedor .texto > p:nth-child(1){
    color: white;
    width: 100%;
    font-size: 45px;
    font-weight: 900;
    text-align: left;
    padding-bottom: 10px;
}

header > .contenedor hr {
    height: 5px;
    width: 260px;
    border: none;
    background-color: white;
}

header > .contenedor .texto > p:nth-child(3){
    padding-top: 10px;
    color: white;
    padding-right:100px;
    width: 100%;
    font-size: 20px;
    text-align: left;
}

header > .contenedor .texto > button{
    width: 100%;
    margin-top: 40px;
    max-width: 238px;
    height: 54px;
    font-size: 30px;
    border: none;
    background-color: white;
    border-radius: 20px;
    color: #FF8243;
    font-weight: 900;
    box-shadow: 0px 3px 6px 1px rgba(102,102,102,0.63);
}

header > .contenedor > .imagen img{
    width: 500px;
    /* display: none; */
}

@media all and (max-width:900px){
    .nav{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        font-size: 20px;
    }
    .nav > .logo{
        text-align: center;
        width: 100%;
        padding-bottom: 10px;
    }
    header > .contenedor hr{
        width: 100px;
    }
    .space{
        display: none;
    }
    .menu{
        width: 100%;
    }
    header > .contenedor > .imagen img{
        display: none;
    }

    header > .contenedor .texto > button{
        margin: 50px auto 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media all and (min-width:900px) and (max-width:1044px){
    header > .contenedor hr{
        width: 100px;
    }
}

@media all and (min-width:1427px){
    header > .contenedor hr{
        width: 100px;
    }
}

@media all and (min-width:1500px){
    header > .contenedor hr{
        width: 30%;
    }
}
/* FIN ENCABEZADO */


/* TEXTO CONTENIDO DE SECCIONS */
.contenedor > .texto h3{
    font-size: 45px;
}

.contenedor > .texto P{
    font-size: 20px;
    margin-top: 5px;
}

.contenedor hr {
    height: 5px;
    width: 40%;
    border: none;
    background-color: black;
}
/* FIN TEXTO CONTENIDO DE SECCIONS */


/* NUESTROS SERVICIOS */
.servicios{
    padding: 60px;
    width: 100%;
}

.servicios > .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* !TEXTO */
.servicios > .contenedor > .texto{
    order: 2;
}

/* !IMAGEN */
.servicios > .contenedor > .imagen img{
    order: 1;
    width: 500px;
}

@media all and (max-width:900px){
    .servicios > .contenedor{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .servicios > .contenedor hr {
        margin: auto;
    }
    /* !TEXTO */
    .servicios > .contenedor > .texto{
        order: 0;
    }
    
    /* !IMAGEN */
    .servicios > .contenedor > .imagen img{
        width: 400px;
        order: 1;
    }
}
/* FIN NUESTROS SERVICIOS */


/* NOSOTROS */
.nosotros{
    padding: 60px;
    width: 100%;
    background-color: #FFFAF5;
}

.nosotros > .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros > .contenedor hr {
    width: 20%;
}

.nosotros > .contenedor > .imagen img{
    width: 500px;
}
@media all and (max-width:900px){
    .nosotros > .contenedor{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nosotros > .contenedor hr {
        width: 20%;
        margin: auto;
    }
    .nosotros > .contenedor > .imagen img{
        width: 400px;
    }
}
/* FIN NOSOTROS */

/* PROYECTOS */
.proyectos{
    padding: 60px;
    width: 100%;
}
.proyectos > .contenedor{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proyectos > .imagenes{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.proyectos > .imagenes > .imgP img{
    width: 400px;
}

.proyectos > .contenedor hr{
    width: 50%;
    margin: auto;
}

@media all and (max-width:900px){
    .proyectos > .imagenes > .imgP img{
        margin-top: 20px;
        width: 220px;
    }
}
/* FIN PROYECTOS */